*__pycache__*
output/*
.vscode
dist

node_modules


# FCD files are generally too big
*fcd.xml

# Blender backup files
*.blend1

# Generated static files
*.bundle.js
*.bundle.js.map
*.pbf
*.egg-info

# MacOS
.DS_Store

# pyenv setting
.python-version

