*__pycache__*
output/*
.vscode
dist
build

node_modules


# just ignore scenarios by default
# add examples manually, if necessary
scenarios/*
# FCD files are generally too big
*fcd.xml

# Blender backup files
*.blend1

# Generated static files
backend/static/
*.bundle.js
*.bundle.js.map
*.pbf
*.egg-info

# MacOS
.DS_Store

# pyenv setting
.python-version

